<% include partials/header %>
<% include partials/menu %>

<div class="ui stackable grid">
    <div class="four wide column">
        <img class="ui medium centered bordered image" src="http://bournemouthclinic.co.uk/saxon/wp-content/uploads/2010/10/small_10519738.jpg">
    </div>
    <div class="twelve wide column">
        <div class="ui message">
            <div class="header">
                Bienvenue
            </div>
            <p><!>Site en Construction<!><br><br>Futur site d'Ostea</p>
        </div>
    </div>
    <div class="sixteen wide column">
        
        <div class="ui horizontal divider">
            Fil d'Actualité
        </div>
        
        <% if(currentUser){ %>
            <div class="contain_button">
                <a href="/new">
                    <button class="ui positive button">Ajouter un article</button>
                </a>
            </div>
        <% } %>
            
        <% news.reverse().forEach(function(newz){ %>
            <div class="ui message">
                <div class="ui stackable grid">
                    <div class="four wide column">
                        <img class="ui centered medium bordered image" src=" <%= newz.imagedest %> ">
                    </div>
                    <div class="twelve wide column">
                        <div class="header">
                            <%= newz.title %>
                        </div>
                        <p> <%= newz.content %> </p>
                        <a href=" <%= newz.link %> " target="_blank">
                            <button class="mini ui button">
                                Lire plus...
                            </button>
                        </a>
                        <% if(currentUser){ %>
                            <a href="/<%= newz._id %>/edit">
                                <button class="mini ui primary button">
                                    Editer
                                </button>
                            </a>
                            <form id="delete-form" action="/<%= newz._id %>?_method=DELETE" method="POST">
                                <button class="mini ui negative button">
                                    Supprimer
                                </button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        <% }); %>
        
    </div>
</div>

<% include partials/footer %>
<% include partials/end %>