<% include ../partials/header %>

<div id="global_form_container">
    <h1 class="ui medium header">Editer <%= newz.title %></h1>
    <form class="ui form" id="standalone_form" action="/<%= newz._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Titre</label>
            <input type="text" name="news[title]" value="<%= newz.title %>">
        </div>
        <div class="field">
            <label>Text</label>
            <textarea name="news[content]"><%= newz.content %></textarea>
        </div>
        <div class="field">
            <label>Lien de l'image</label>
            <input type="text" name="news[imagedest]" value="<%= newz.imagedest %>">
        </div>
        <div class="field">
            <label>Lien de l'article</label>
            <input type="text" name="news[link]" value="<%= newz.link %>">
        </div>
        <button class="ui button primary validate_button" type="submit">Editer</button>
    </form>
    <div class="ui buttons">
        <a href="/">
            <button class="ui icon button back_button">
                <i class="left chevron icon"></i>
                Retour Accueil
            </button>
        </a>
    </div>
</div>

<% include ../partials/end %>